.text-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:34px 34px;
    font-size: larger;
}
.text-center{
    text-align: center;
    color:rgb(121, 42, 42);
    font-size: 27px;
    font-family: Cambria;
}
.text-center:hover{
    color: rgb(115, 224, 243);
}

.para-class{
    color: rgb(196, 89, 89);
    padding:25px;
    margin-top: 25px;
    line-height: 50px;
}
 
