body {
font-family: Arial, sans-serif;
background-color:#1e0303;
}

header{
margin-bottom: 100px;
}

.container {
max-width: 500px;
margin: 0 auto;
padding: 20px;
background:transparent;
border-radius: 10px;
box-shadow: 1px 1px 17px 20px rgb(133 193 207);
}

h2 {
text-align: center;
color:rgb(255, 255, 255);
}

.form-group {
margin-bottom: 20px;
}

.form-group label {
display: block;
font-weight: bold;
margin-bottom: 5px;
color:#f14545;
}

.form-group input, .form-group textarea {
width: 100%;
padding: 8px;
border: 1px solid #000000;
border-radius: 4px;
resize: vertical;
}

.form-group input[type="submit"] {
background-color: #6075fb;
color: #fff;
cursor: pointer;
border-radius: 10px;
}

.form-group input[type="submit"]:hover {
background-color: #000000;
border-radius: 10px;

}

.form-group .success-message {
color: rgb(255, 255, 255);
}

.form-group .error-message {
color: red;
}
.logo{
    width:40px;
    margin:20px;
    border:none;
}
.sociallinks{
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
 h4{
    text-align: center;
    color:rgb(83, 212, 255);
 }