.section-portfolio{
    background: var(--bg);
    transition:all 0.7s linear;

}

.section-portfolio p{
    max-width:60rem;
}
.p-btns{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:3.2rem;
    margin:64px 0px;
}

.portfolio-images{
    gap:3.2rem;
    
}

.portfolio-images img{
    width:59%;
    border-radius: 7px;
    position:relative;
    overflow:hidden;
    left: 241px;

}

.portfolio-images img:hover{
    cursor: pointer;
}

.image-overlay .common-heading{
    margin:0;
    color:black;
    text-decoration:none;
    
}

.p-btn-active{
    transform:translateY(-1rem);
}

.p-image-not-active{
    display:none;
}

.text-center{
    text-align: center;
    margin:34px 34px;
}

.intern{
    font-size: 33px;
    text-align: center;
    margin: 35px 0px;
}